<ion-header>
  <ion-toolbar class="safe-top-padding">
    <ion-icon
      color="lightgray"
      class="header-icon ion-margin-end"
      slot="end"
      name="md-contact"
      (click)="goToProfile()"
    ></ion-icon>
  </ion-toolbar>
  <ion-toolbar style="padding-bottom: 14px;">
    <ion-text
      color="darkgray"
      class="header-title ion-margin-start ion-margin-bottom"
      >Menu</ion-text
    >
  </ion-toolbar>
</ion-header>

<ion-content color="whitegray">
  <ion-toolbar style="--padding-start: 16px;" color="whitegray">
    <ion-label color="gray">All menu</ion-label>
  </ion-toolbar>

  <!-- Iterate items -->
  <ion-item class="ion-padding-end" *ngFor="let menu of menuList; let i=index" style="margin-bottom: 8px;">
    <!-- <ion-icon color="darkgray" style="position: absolute; right: 0; top: 4px;" name="md-trash"></ion-icon> -->
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col
          size="4"
          class="ion-no-padding ion-margin-top ion-margin-bottom"
        >
          <ion-img
            style="object-fit: cover; height: 80px;"
            [src]="menu.imageUrl"
          ></ion-img>
        </ion-col>
        <ion-col
          class="ion-padding-start"
          size="5"
          style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
        >
          <ion-text style="font-weight: 600;" color="darkgray"
            >{{ menu.foodName }}</ion-text
          >
        </ion-col>
        <ion-col class="ion-text-end" size="3">
          <ion-text style="font-weight: 700;" color="darkgray">{{ menu.price }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-toolbar style="--background: transparent; --min-height: 64px;">
  </ion-toolbar>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    style="overflow: visible;"
  >
    <ion-fab-button (click)="openCreateMenuModal()" color="invtgprimary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
