<ion-header>
  <ion-toolbar style="padding-top: 14px;"> </ion-toolbar>
  <ion-toolbar style="padding-bottom: 14px;">
    <ion-text
      color="darkgray"
      class="header-title ion-margin-start ion-margin-bottom"
      >Food schedule</ion-text
    >
  </ion-toolbar>
</ion-header>

<ion-content color="whitegray">

  <!-- Monday -->
  <ion-list>
    <ion-list-header>
      <ion-label color="darkgray">Monday</ion-label>
    </ion-list-header>

  </ion-list>

  <!-- Tuesday -->
  <ion-list>
    <ion-list-header>
      <ion-label color="darkgray">Tuesday</ion-label>
    </ion-list-header>
  </ion-list>
</ion-content>
