<ion-content>
  <div class="half-bg safe-top-padding">
    <ion-toolbar style="--background: transparent; padding: 12px;">
      <ion-buttons slot="start">
        <ion-back-button color="light" [text]="'Back'" defaultHref="/main/order"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-align-content-center ion-no-padding" style="height: 20vw; overflow: visible;" size="12">
        <ion-avatar (click)="onPressProfilePicture()" class="profile-avatar"
          style="background-color: lightgray; width: 40vw; height: 40vw; margin-left: auto; margin-right: auto;">
          <ion-img [src]="selectImageUrl"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row style="height: 1.5rem;">
      <ion-col style="height: 1.5rem;" class="ion-text-right" *ngIf="!editMode">
        <ion-button style="max-height: 1.5rem; font-size: smaller;" (click)="onPressEditProfile()" color="gprimary"
          fill="clear" shape="round">
          Edit profile <ion-icon slot="end" style="font-size: smaller;" name="md-create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-list [formGroup]="profileFormGroup" class="ion-padding-horizontal">
          <ion-item>
            <ion-label position="stacked" color="gprimary">Restaurant Name</ion-label>
            <ion-input formControlName="restaurantName" [readonly]="!editMode" [class.edit-mode]="editMode"
              inputmode="text" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="gprimary">Owner Name</ion-label>
            <ion-input formControlName="ownerName" [readonly]="!editMode" [class.edit-mode]="editMode" inputmode="text"
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="gprimary">Email</ion-label>
            <ion-input formControlName="email" [readonly]="!editMode" [class.edit-mode]="editMode" inputmode="text"
              type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="gprimary">Phone number</ion-label>
            <ion-input formControlName="phoneNumber" [readonly]="!editMode" [class.edit-mode]="editMode" inputmode="text"
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="gprimary">Description</ion-label>
            <ion-input formControlName="description" [readonly]="!editMode" [class.edit-mode]="editMode"
              inputmode="text" type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" *ngIf="editMode">
        <ion-button [disabled]="false" (click)="onPressUpdateProfile()" color="gprimary" fill="outline" shape="round">
          Update profile
        </ion-button>
        <ion-button (click)="onPressCancel()" color="medium" fill="outline" shape="round">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!editMode">
      <ion-col class="ion-text-center" size="12">
        <ion-button class="gradient-button" shape="round" (click)="onPressSignOut()">Sign out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>