ion-item {
  --inner-border-width: 0;
}

ion-text {
  font-family: helvetica !important;
}

ion-list-header {
    text-transform: none;
    letter-spacing: normal;
    font-size: 12pt;
    font-weight: bold;
}
