<ion-content>
  <ion-toolbar class="ion-padding shadow-box">
    <ion-icon
      slot="start"
      (click)="closeModal()"
      color="lightgray"
      style="font-size: 28pt; opacity: 0.8;"
      name="close-circle"
    ></ion-icon>
    <div class="ion-padding-start ion-padding-end">
      <ion-text style="font-weight: 600;" color="darkgray"
        >{{ transformDateTime(activityDetail.dateTime) }}</ion-text
      >
      <br />
      <ion-text style="font-size: 8pt;" color="darkgray"
        >order ID: {{ activityDetail._id }}</ion-text
      >
    </div>
    <ion-text
      style="font-size: 32pt; font-weight: 500;"
      color="gprimary"
      slot="end"
      >{{ activityDetail.queue }}</ion-text
    >
  </ion-toolbar>

  <ion-toolbar style="z-index: 1;" class="ion-margin-bottom ion-padding-start">
    <ion-avatar
      class="ion-margin-end"
      style="width: 15%; height: auto;"
      slot="start"
    >
      <ion-img [src]="activityDetail.customerImageUrl"></ion-img>
    </ion-avatar>
    <ion-text style="font-weight: 550; font-size: 12;" color="darkgray"
      >{{ activityDetail.customerName }}</ion-text
    >
  </ion-toolbar>

  <ion-list>
    <ion-list-header>
      <ion-text color="darkgray">Order summary</ion-text>
    </ion-list-header>

    <ion-item
      *ngFor="let item of activityDetail.items"
      style="margin-bottom: 8px; padding-right: 8px;"
    >
      <ion-img
        slot="start"
        style="width: 25%; margin-top: 8px; margin-bottom: auto;"
        [src]="item.imageUrl"
      ></ion-img>
      <div style="margin-top: 0px; margin-bottom: auto;">
        <ion-text color="darkgray" style="font-weight: 600;"
          >{{ item.foodName }}</ion-text
        >
        <br />

        <ion-text *ngFor="let option of item.options" color="lightgray"
          >{{ option }}<br
        /></ion-text>
        <br />
        <ion-text color="lightgray">
          {{ item.specialInstruction }}
        </ion-text>
      </div>
      <div
        slot="end"
        style="width: 30%; max-width: 30%; margin-top: 0px; margin-bottom: auto;"
      >
        <ion-text color="darkgray">{{ item.numberOfItem }}x</ion-text>
        <ion-text style="float: right; font-weight: bold;" color="darkgray"
          >{{ item.price * item.numberOfItem }}</ion-text
        >
      </div>
    </ion-item>
  </ion-list>

  <div class="ion-padding-start ion-margin-top ion-margin-bottom">
    <ion-text style="font-weight: bold;" color="darkgray"
      >Payment method</ion-text
    >
    <br />
    <ion-text color="gray" class="ion-padding-start"
      >{{ activityDetail.paymentMethod }}</ion-text
    >
  </div>
</ion-content>

<ion-footer style="background-color: white; width: 100%;" class="ion-padding">
  <ion-toolbar style="--border-width: 0;" class="ion-no-padding ion-no-margin">
    <ion-text
      slot="start"
      style="font-weight: bold;"
      color="darkgray"
      class="ion-padding-start"
      >Total</ion-text
    >
    <ion-text
      slot="end"
      style="font-weight: 600; font-size: 16pt; float: right;"
      color="gprimary"
      class="ion-padding-end"
      >{{ totalPrice }}</ion-text
    >
  </ion-toolbar>

  <!-- Separate line -->
  <div
    style="background-color: #9d9d9d; height: 1px; width: 90%; margin: 12px auto 12px auto;"
  ></div>

  <ion-toolbar class="ion-padding-bottom">
    <ion-buttons>
      <div
        class="ion-text-center"
        style="width: 70%; height: 36px; margin-right: auto; margin-left: auto;"
      >
        <ion-button
          (click)="updateOrder()"
          fill="solid"
          shape="block"
          color="gprimary"
          >{{ activityDetail.state == 'cf' ? 'Cooking done' : 'Complete'
          }}</ion-button
        >
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
