.ion-color-whitegray {
  --ion-color-base: #f3f3f3;
  --ion-color-base-rgb: 95, 95, 95;
  --ion-color-contrast: #252525;
  --ion-color-contrast-rgb: 37, 37, 37;
  --ion-color-shade: #e9e9e9;
  --ion-color-tint: #9c9c9c;
}

.ion-color-lightgray {
  --ion-color-base: #9d9d9d;
  --ion-color-base-rgb: 157, 157, 157;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 37, 37, 37;
  --ion-color-shade: #797979;
  --ion-color-tint: #9c9c9c;
}

.ion-color-gray {
  --ion-color-base: #808080;
  --ion-color-base-rgb: 128, 128, 128;
  --ion-color-contrast: #252525;
  --ion-color-contrast-rgb: 37, 37, 37;
  --ion-color-shade: #e9e9e9;
  --ion-color-tint: #9c9c9c;
}

.ion-color-darkgray {
  --ion-color-base: #676767;
  --ion-color-base-rgb: 103, 103, 103;
  --ion-color-contrast: #252525;
  --ion-color-contrast-rgb: 37, 37, 37;
  --ion-color-shade: #e9e9e9;
  --ion-color-tint: #9c9c9c;
}

.ion-color-gprimary {
  --ion-color-base: #10a19b;
  --ion-color-base-rgb: 56, 128, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0d8d89;
  --ion-color-tint: #47b3af;
}
