<ion-header>
  <ion-toolbar class="safe-top-padding">
    <ion-icon
      color="lightgray"
      class="header-icon ion-margin-end"
      slot="end"
      name="md-contact"
      (click)="goToProfile()"
    ></ion-icon>
  </ion-toolbar>
  <ion-toolbar style="padding-bottom: 14px;">
    <ion-text
      color="darkgray"
      class="header-title ion-margin-start ion-margin-bottom"
      >Activity</ion-text
    >
  </ion-toolbar>
</ion-header>

<ion-content style="z-index: 1; background-color: #f3f3f3;" color="whitegray">
  <ion-refresher
    style="background-color: #f3f3f3; --background: #f3f3f3;"
    slot="fixed"
    (ionRefresh)="getActivityList($event)"
  >
    <ion-refresher-content
      style="color: #808080; background-color: #f3f3f3; --background: #f3f3f3; z-index: 20;"
      pullFactor="0.5"
      pullMin="100"
      pullMax="100"
      pullingIcon="undefined"
      refreshingSpinner="circles"
      refreshingText="Refreshing"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-toolbar
    class="ion-text-center"
    color="whitegray"
    *ngIf="activityList.today.length == 0 && activityList.tomorrow.length == 0"
  >
    <ion-text color="darkgray"
      >{{ isLoading ? 'Loading...' : 'No order now' }}</ion-text
    >
  </ion-toolbar>
  <ion-list *ngIf="activityList.today.length != 0" class="ion-no-margin">
    <ion-list-header>
      <ion-text class="list-header" color="gprimary">Today</ion-text>
    </ion-list-header>

    <ion-item
      *ngFor="let order of activityList.today; let i=index"
      (click)="openUpdateModal(i, true)"
      style="margin-bottom: 8px; overflow: hidden;"
      class="ion-no-padding"
    >
      <ion-grid style="overflow: hidden;">
        <ion-row style="overflow: hidden;" class="ion-align-items-center">
          <ion-col
            size="2"
            class="ion-align-items-center ion-justify-content-center"
            style="height: 100%; padding-left: 8px;"
          >
            <ion-avatar class="ion-align-self-center" style="margin: auto;">
              <ion-img style="object-fit: cover;" [src]="order.customerImageUrl"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col
            size="6"
            class="ion-padding-start ion-padding-end"
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
          >
            <ion-text color="darkgray" style="font-weight: bold;">
              {{ order.customerName }}
            </ion-text>
            <br />
            <ion-text color="darkgray">
              {{ calcNumberOfFood(order.items) }} รายการ
            </ion-text>
            <br />
            <ion-text
              color="darkgray"
            >
              {{ joinFoodName(order.items) }}
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-text
              color="gprimary"
              style="font-weight: 500; font-size: 20pt;"
              >{{ order.queue }}</ion-text
            >
            <br />
            <ion-text
              class="status-text"
              color="{{getStateColor(order.state)}}"
            >
              {{ getStateText(order.state) }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- <ion-toolbar style="--background: transparent;">
  </ion-toolbar> -->
  <ion-toolbar class="ion-text-center" style="/**position: fixed; bottom: 0; left: 0px;*/ --background: transparent;">
    <ion-button (click)="onPressHistoryButton()" style="height: 32px;" color="lightgray" shape="round">
      View history
    </ion-button>
  </ion-toolbar>
</ion-content>
