<ion-content style="height: 100%;" class="ion-text-center ion-justify-content-center">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-text class="ion-margin">Delete menu on the schedule</ion-text>
        <ion-toolbar>
          <ion-buttons class="ion-justify-content-around">
            <ion-button fill="solid" (click)="delete()">Delete</ion-button>
            <ion-button fill="solid" (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>