<ion-header no-border class="ion-justify-content-center header-container">
  <ion-toolbar class="ion-padding" style="--margin-top: auto; --margin-bottom: auto; --min-height: 15vh;">
      <ion-back-button slot="start" color="gprimary" [text]="''" defaultHref="/register"></ion-back-button>
    <ion-text class="title-text">Edit profile</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" style="height: 100%;">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div style="box-sizing: border-box; margin-left: auto; margin-right: auto; width: 36vw; height: 36vw;">
          <ion-avatar (click)="selectImage()" style="width: 36vw; height: 36vw;">
            <ion-img [src]="imagePath"></ion-img>
          </ion-avatar>
          <ion-icon color="darkgray" style="position: absolute; left: 54vw; top: 28vw; font-size: xx-large;" name="ios-camera"></ion-icon>
        </div>
        <form [formGroup]="storeForm" (ngSubmit)="onClickConfirm()">
          <ion-item>
            <ion-label color="gprimary" position="stacked">Restaurant name</ion-label>
            <ion-input
              required
              type="text"
              formControlName="storeName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="gprimary" position="stacked">Owner name</ion-label>
            <ion-input
              required
              type="text"
              formControlName="ownerName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="gprimary" position="stacked">Phone number</ion-label>
            <ion-input
              required
              type="text"
              formControlName="phoneNumber"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="gprimary" position="stacked">Description</ion-label>
            <ion-input
              required
              type="text"
              formControlName="describe"
            ></ion-input>
          </ion-item>
          <ion-toolbar class="ion-margin-top ion-margin-bottom ion-text-center">
            <ion-button [disabled]="!storeForm.valid" type="submit" class="ion-margin-top submit-button"
              shape="round">
              <span style="display: inline-block; vertical-align: middle;">
                <ion-text style="vertical-align: middle; font-weight: bold;">
                  Complete
                </ion-text>
              </span>
            </ion-button>
          </ion-toolbar>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
