<ion-content class="ion-no-padding">
  <ion-grid class="ion-padding container" style="height: 100%;">
    <ion-row class="ion-align-items-center" style="width: 100%; height: 50%;">
      <ion-col
        class="ion-justify-content-center ion-text-center"
        style="width: 100%;"
      >
        <h1 style="color: white;" class="ion-align-self-center">SEC<br>Kin Kao<br>Merchant</h1>
      </ion-col>
    </ion-row>
    <ion-row style="width: 100%; height: 50%;">
      <ion-col
        class="ion-padding ion-justify-content-center ion-text-cetner"
        style="width: 100%;"
      >
        <form
          [formGroup]="credentialsForm"
          class="ion-align-items-center ion-text-center"
          (ngSubmit)="onClickLogin()"
        >
          <ion-input
            formControlName="email"
            placeholder="Email"
            type="text"
          ></ion-input>
          <ion-input
            formControlName="password"
            class="ion-margin-top"
            placeholder="Password"
            type="password"
          ></ion-input>
          <ion-button
            color="light"
            [disabled]="!credentialsForm.valid"
            class="ion-margin-top"
            shape="round"
            type="submit"
            >Login</ion-button
          >
        </form>
        <ion-button (click)="goToTab()">Goto main</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border class="ion-text-center">
  <span style="display: inline-block; vertical-align: middle;">
    <p style="vertical-align: middle; font-weight: bold;" (click)="onClickRegister()">
      Create an account  <ion-icon
      class="icon"
        name="ios-arrow-dropright"
        style="display:inline-block;"
      ></ion-icon></p
  ></span>
</ion-footer>
