.header-title {
  font-family: helvetica !important;
  font-size: 24pt;
  font-weight: 600;
}

.header-icon {
  font-family: helvetica !important;
  font-size: 24pt;
}

ion-list {
    background-color: transparent;
}

ion-list-header {
    background-color: transparent;
    font-weight: bold;
    font-size: 10pt;
    letter-spacing: normal;
    font-family: helvetica !important;
    text-transform: none;
}

ion-item {
    --inner-border-width: 0;
    --background-activated: #ff0000;
}

.list-header {
  font-family: helvetica !important;
  font-size: 12pt !important;
}

ion-refresher-content {
  --color: var(--ion-color-darkgray);
  --ion-text-color: var(--ion-color-darkgray) !important;
}